In [1]:
dataset_id = "covid_19_jhu_staging";

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'nimble-cortex-266516:covid_19_jhu_staging' successfully created.

In [3]:
%%bigquery
create or replace table nimble-cortex-266516.covid_19_jhu_staging.confirmed_cases as
select *
from bigquery-public-data.covid19_jhu_csse.confirmed_cases

Empty DataFrame
Columns: []
Index: []

In [4]:
%%bigquery
create or replace table nimble-cortex-266516.covid_19_jhu_staging.deaths as
select *
from bigquery-public-data.covid19_jhu_csse.deaths

Empty DataFrame
Columns: []
Index: []

In [5]:
%%bigquery
create or replace table nimble-cortex-266516.covid_19_jhu_staging.recovered_cases as
select *
from bigquery-public-data.covid19_jhu_csse.recovered_cases

Empty DataFrame
Columns: []
Index: []

In [6]:
%%bigquery
create or replace table nimble-cortex-266516.covid_19_jhu_staging.summary as
select *
from bigquery-public-data.covid19_jhu_csse.summary

Empty DataFrame
Columns: []
Index: []