In [1]:
dataset_id = "covid_19_usa_staging";

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'nimble-cortex-266516:covid_19_usa_staging' successfully created.

In [3]:
%%bigquery
create or replace table nimble-cortex-266516.covid_19_usa_staging.us_counties as
select *
from bigquery-public-data.covid19_nyt.us_counties

Empty DataFrame
Columns: []
Index: []

In [4]:
%%bigquery
create or replace table nimble-cortex-266516.covid_19_usa_staging.us_states as
select *
from bigquery-public-data.covid19_nyt.us_states

Empty DataFrame
Columns: []
Index: []